In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pandas as pd
from pprint import pprint
import time

In [ ]:
# URL for NASA Mars News Site
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

# Creaters browser window for scraping
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
# Visits url, creates soup object
browser.visit(url)
soup = BeautifulSoup(browser.html, 'html.parser')

In [ ]:
#print(soup.prettify())

In [ ]:
# Finds news titles, isolates first one
titles = soup.find_all('div',class_='content_title')
news_title = titles[1].text.strip()
news_title

In [ ]:
# Finds paragraph text
news_p = soup.find('div',class_='article_teaser_body').text
news_p

In [ ]:
# URL for JPL Featured Space Image, visits site
jpl_url = 'https://www.jpl.nasa.gov/images?search=&category=Mars'
browser.visit(jpl_url)
browser.reload()

In [ ]:
# Creates target for browser to click 
# to page with full sized image
target = 'a[class="group  cursor-pointer block"]'
browser.find_by_tag(target).click()   

#Pauses for a few seconds before grabbing page HTML
time.sleep(3)

# Grabs html, creates soup object
html = browser.html
soup = BeautifulSoup(html,'html.parser')

# Finds div tags with full size image urls inside
images = soup.find('div',class_="lg:w-auto w-full")

# Isolates image url for full size jpeg
featured_image_url = images.a['href']
featured_image_url

In [2]:
# Mars Facts URL
facts_url = 'https://space-facts.com/mars/'

In [3]:
#Reads HTML into Pandas Dataframe
tables = pd.read_html(facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [7]:
# Grabs first table and renames columns
df = tables[0]
df.columns = ['Fact','Value']
#df = df.set_index('Fact')
df

                   Fact                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [8]:
# Converts table dataframe back to HTML
facts_html = df.to_html()
facts_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Fact</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [ ]:
# Replaces \n in HTML with blanks
facts_html.replace('\n', '')

In [ ]:
# Exports HTML to HTML file
#df.to_html('mars_facts.html')

In [ ]:
# (For MAC OS Users) opens new tab to see mars facts HTML
#!open mars_facts.html

In [ ]:
# Mars Hemispheres URL
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [ ]:
# Visits Mars Hemispheres URL
browser.visit(url)

In [ ]:
# Establishes empty list for dictionaries with
# hemisphere information
hemisphere_image_urls = []

# Grabs HTML for current page, creates soup object
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [ ]:
# Grabs headers for each hemisphere
headers = soup.find_all('div', class_="description")
headers

In [ ]:
#ref = headers[0].h3.text
#browser.find_by_text(ref).click()

In [ ]:
#html = browser.html
#soup = BeautifulSoup(html,'html.parser')
    
#titles = soup.find_all('h2', class_="title")
#titles[0].text

In [ ]:
# Loops through headers
# Pulls the title and img URL for each hemisphere
for x in range(len(headers)):
    ref = headers[x].h3.text
    browser.find_by_text(ref).click()
    
    html = browser.html
    soup = BeautifulSoup(html,'html.parser')
    
    img = soup.find_all('div', class_="downloads")
    img_url = img[0].li.a['href']
    
    titles = soup.find_all('h2',class_="title")
    title = titles[0].text
    
    img_dict = {"title":title,"img_url":img_url}
    hemisphere_image_urls.append(img_dict)
    
    browser.back()

In [ ]:
hemisphere_image_urls